// Add your custom CSS here.
.minicart__aside .minicart__btn-checkout {
  display: none !important;
}
#product-actions .prices__installments::before {
  content: url('/img/uploads/cartao.png');
  position: relative;
  top: 5px
}
#product-actions .prices__discount::before {
  content: url('/img/uploads/deposito.png');
  position: relative;
  top: 5px;
}
.footer {
  background-color: #fff;
}
